
<div class='card' *ngFor='let emp of employees' style="border:1px solid #007bff; margin:30px 0px">

 <div class='card-heading bg-primary '>
   <div class='card-title'>
     <h3>{{emp.name}}</h3>
   </div>
 </div>

 <div class="card-body">
   <div class="col-sm-12">
     <div class="row vertical-align">
       <div class='col-sm-4'>
         <img calss='imgClass' [src]="emp.photoPath" >
       </div>
       <div class='col-sm-8'>
          <div class="row">
              <div class='col-sm-6'>
                EmpId 
              </div>
              <div class='col-sm-6'>
                : {{emp.id}}
              </div>
        </div>
        <div class="row">
            <div class='col-sm-6'>
              Gender
            </div>
            <div class='col-sm-6'>
              : {{emp.gender}}
            </div>
        </div>
        <div class="row">
            <div class='col-sm-6'>
              Date Of Birth
            </div>
            <div class='col-sm-6'>
              : {{emp.dateOfBirth | date }}
            </div>
        </div>
       <div class="row">
          <div class='col-sm-6'>
            Email
          </div>
          <div class='col-sm-6'>
            : {{emp.email}}
          </div>
      </div>
      <div class="row">
          <div class='col-sm-6'>
            Phone Number
          </div>
          <div class='col-sm-6'>
            : {{emp.phoneNumber}}
          </div>
      </div>
      <div class="row">
          <div class='col-sm-6'>
            Contact Preference
          </div>
          <div class='col-sm-6'>
            : {{emp.contactPreference}}
          </div>
      </div>
      <div class="row">
          <div class='col-sm-6'>
            Department
          </div>
          <div class='col-sm-6'>
            : {{emp.department}}
          </div>
      </div>
      <div class="row">
          <div class='col-sm-6'>
            Is Active
          </div>
          <div class='col-sm-6'>
            : {{emp.isActive}}
          </div>

      </div>
     </div>
    </div>
 </div> 
</div>
</div>



<!-- <div class="container">
    <h2>Basic card</h2>
    <div class="card card-primary">
     <div class='card-heading'>
       <div class='card-title'>Hello World</div>
     </div>
      <div class="card-body">A Basic card</div>
    </div>
  </div> -->

  