
<div class="flex-container">

  <div > 
      <a href="#" id="a1" style=" align-content: center">If you're having trouble viewing this email please click here to view it in your browser.
  </a> 
    
   <div><a href="https://economictimes.indiatimes.com/company/trident-technologies-private-limited-/U74899DL1992PTC051248" target="_blank"> <img src="./assets/trident.jpg" alt="trident.jpg" id="img1"> </a> </div>
   
   <div> <a href="https://en.wikipedia.org/wiki/Road_show" target="_blank"> <img src="./assets/roadshow.jpg" alt="roadshow.jpg" id="img2"> </a></div>

   <div> <img src="./assets/roadshow3.jpg" alt="roadshow3.jpg" id="img3"></div>

   <div id="t0"><span id="t1">Bangalore /</span><span id="t2"> Hyderabad /</span> <span id="t3">  Pune /</span> <span id="t4"> 5-7 Dec 2019</span></div>

 
      <div class="p">
              Taking <b> Trident</b> Planning to the Next Level!
      
          <div class="p1"> 

            <div id="p2">  
              Trident Systems – is a Melville, New York-based analytics company which was founded in 2002.
               The company sells software and hardware products for customer engagement management, security,
                surveillance, and business intelligence. Their products are designed to assist clients in data 
                analysis, specifically large data sets.
             </div>
              

              <div id="p3">

               In 2019, the Roadshow will visit the biggest outbound markets of India viz. Banglore and Pune & 
               Hyderabad between 5th – 7th December 2019.
              </div>

              <div id="p4">
               Our philosophy: Go to the planner.. Deliver unparalleled access! 
               </div>

           </div>
              
      </div>
      
      <div class="i">

              <div class="i"> Register Now !!! 

                  <p>Discover the latest Roadsows of these Verint Systems</p>
              </div>

              <div class="img-1">
                
              
                <a href="https://www.holidify.com/places/bangalore/sightseeing-and-things-to-do.html"             >  <img src="./assets/bangalore.jpg" alt="Banglore.jpg" class="img5"></a>
              
                 <a href="https://www.holidify.com/places/hyderabad/sightseeing-and-things-to-do.html" target="_blank"> <img src="./assets/hyderabad.jpg" alt="hyderabad.jpg" id="img6"> </a>

                  <a href="https://www.thrillophilia.com/places-to-visit-pune" target="_blank"> <img src="./assets/pune.jpg" alt="pune.jpg" id="img7"> </a>
              </div>
      </div>

      <div class="te">
           
          <div id="te1">Banglore<br><br>
                     <span>Dec 5</span>   
          </div>
          <div id="te2"> Hyderabad <br><br>
                    <span>Dec 6</span>
          </div>
          <div id="te3"> Pune <br><br>
                    <span>Dec 7</span>
          </div>
      </div>

    <div class="footer">
          
           <div><a href="#" id="f1">Update your communication preferences</a></div>

           <div id="f2"> Copyright © 2019, Trident Systems, Inc. All rights reserved. 
               Trident, Trident Systems and the Trident Systems logo are registered 
               trademarks of Trident Systems, Inc. and/or its affiliates in the
                United States and certain other countries. </div>

    </div>
</div>

</div>



<!-- <app-child></app-child> -->