<!DOCTYPE html>
 
<head>
    <title>Trident Systems - Register Roadshow 2019</title>
</head>
<body>
    

<div >
        <div> <a href="https://economictimes.indiatimes.com/company/trident-technologies-private-limited-/U74899DL1992PTC051248" target="_blank"><img src="./assets/trident.jpg" alt="trident.jpg" id="img1" ></a></div>

    <div class="h1"> 
            <h1> Trident systems - Register Roadshow 2019 </h1>
            <hr>

    </div>
</div>

<div class="pr">
    <div id="pr1">Our Vision</div>

   <div id="pr2">Actionable Intelligence is a necessity in a dynamic world of massive information growth
                because it empowers organizations with crucial insights and enables decision makers to 
                anticipate, respond, and take action.  With Trident solutions and value added services,
                 organizations of all sizes and across many industries can make more informed, timely,
                  and effective decisions.<br><br>

                 Our solutions help organizations address two areas of the Actionable Intelligence 
                 market—Customer Engagement and Cyber Intelligence. And they do this by capturing large
                  amounts of information from numerous data types and sources, using analytics to glean
                   insights from the information, and leveraging the resulting intelligence to help them
                    optimize customer engagement and make the world a safer place.<br><br>
    
                 To address the need for Actionable Intelligence across many use cases in customer 
                 engagement and cyber intelligence, we have developed an innovative foundation – Trident’s 
                 advanced Actionable Intelligence platform.  Our platform has the following four components:<br>
        </div>  

        <div id="pr3">Friday, 9 Aug 2019</div>
      
</div>

<div class="form">
    
      <h4>Road Show 2019 </h4>
      <h5> *required fields</h5>

      <form action="_self">
    <div >First Name* <br> <br><br><input type="text" id="f1"></div>
    <br><br>
    <div >Job Title* <br> <br><br><input type="text" id="f2"></div>
    <br><br>
    <div >Company* <br> <br><br><input type="text" id="f3"></div>
    <br><br>
    <div >Email Address* <br> <br><br><input type="email" id="f4"></div>
    <br><br>
    <div> <button class="button" >Register</button></div>
    
</form>

</div>

<div class="footer">
            
                <div><a href="https://www.indiatimes.com/termsandcondition/" target="_blank" id="ftr1"> <link rel="stylesheet" href=""> Terms & Conditions  |</a></div>
   
                <div> <a href="https://www.indiatimes.com/privacypolicy/" target="_blank" id="ftr2"><link rel="stylesheet" href=""> Privacy Statement   |</a> </div>

                <div> <a href="https://www.indiatimes.com/privacypolicy/"  target="_blank" id="ftr3"><link rel="stylesheet" href=""> Cookie Policy </a> </div>

                <div id="ftr4"> Stay Connected </div>
   
         
   </div>
</body>












        